h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 2px dodgerblue;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: gray;
    
}