.cardpr{
    margin-top: 5px;
}
.cardcab{
    background-color: navy;
    color: mintcream;
    text-align: center;
    text-shadow: 2px 2px 2px gray;

    
}

.cardbutton{
    font-family: Arial, Helvetica, sans-serif;
    color: mediumblue;
    font-weight: bold;
}